###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change-me-run-openssl-rand-hex-32
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^(https?://(localhost|127\.0\.0\.1)(:[0-9]+)?|capacitor://localhost)$'
###< nelmio/cors-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
# Generate with: openssl rand -hex 32
JWT_PASSPHRASE=change-me-run-openssl-rand-hex-32
###< lexik/jwt-authentication-bundle ###

###> knpuniversity/oauth2-client-bundle ###
# Get credentials at: https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret

# Frontend URL for OAuth redirect after login
FRONTEND_URL=http://localhost:4200
# Custom URL scheme for the native Android app callback
FRONTEND_URL_ANDROID=personalfinance://auth/callback
###< knpuniversity/oauth2-client-bundle ###

###> llm-service ###
LLM_SERVICE_URL=http://llm-service:8000
###< llm-service ###

###> caddy/mercure ###
# Generate with: openssl rand -hex 32
CADDY_MERCURE_JWT_SECRET=change-me-run-openssl-rand-hex-32
###< caddy/mercure ###
